ML STEPS:
1. The Problem
2. Data Collection
3. Data Cleaning
4. Data Selection
5. Pick a model
6. Train model
7. Test model
8. REPEAT

Getting started:
- Linear regression
- KNN (k-nearest-neighbours)
- SVM ()

https://www.youtube.com/watch?v=ujTCoH21GlA&list=PLzMcBGfZo4-mP7qA9cagf68V06sko5otr

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
# Since our data is seperated by semicolons we need to do sep=";"
data = pd.read_csv('/content/drive/MyDrive/colab_data/ML/1/student-mat.csv', sep=';')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]

In [4]:
# All data needs to be integer to use prediction
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   G1         395 non-null    int64
 1   G2         395 non-null    int64
 2   G3         395 non-null    int64
 3   studytime  395 non-null    int64
 4   failures   395 non-null    int64
 5   absences   395 non-null    int64
dtypes: int64(6)
memory usage: 18.6 KB

In [5]:
predict = 'G3'

x = np.array(data.drop([predict], 1))
y = np.array(data[predict])

<ipython-input-5-8f8bcdb649f1>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = np.array(data.drop([predict], 1))

In [9]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size = 0.1)

In [10]:
linear = linear_model.LinearRegression()

linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test)
acc

0.807742489686173

In [12]:
print('Coefficient: \n', linear.coef_)
print('Intercept: \n', linear.intercept_)

Coefficient:
 [ 0.13694475  0.9848603  -0.12982654 -0.38293913  0.05073633]
Intercept:
 -1.5170258689549243

In [13]:
predictions = linear.predict(x_test)

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

12.261736184680773 [10  9  2  0 75] 9
7.8420695831463565 [ 9  8  2  0 10] 8
15.555585617793511 [17 15  1  0  2] 15
12.973597878192518 [14 12  2  0 20] 13
4.454271953380879 [6 5 1 0 7] 6
10.70941426741267 [11 11  4  0  8] 10
8.95155748049117 [10 10  3  2  8] 10
5.469974465470823 [8 7 2 3 8] 8
4.455044424792172 [7 6 1 2 0] 0
6.716662450178784 [ 6  8  1  3 16] 8
8.456511325451137 [10  9  2  0  0] 9
5.055624064750449 [6 6 2 0 2] 6
7.2992341784879144 [8 8 2 0 2] 8
8.52963011606681 [10  9  3  0  4] 9
12.156872967519519 [11 12  2  0 12] 11
6.4193626792377865 [ 7  8  2  3 10] 10
8.42815745315402 [10  9  3  0  2] 9
10.69300322139123 [11 11  1  0  0] 12
7.147594243979276 [8 8 1 1 4] 8
13.880030135757822 [12 14  3  0  7] 14
15.050396913656254 [15 15  2  0  0] 15
7.207054343799191 [7 8 4 0 8] 8
13.92147363899015 [13 14  1  0  0] 13
13.973722423415875 [13 13  2  0 23] 13
15.014924823561767 [14 15  2  0  2] 15
13.928591856787522 [14 14  2  0  0] 14
-1.07117826574521 [7 0 1 1 0] 0
7.786023996009483 [7 9 4 0 0] 0
6.4158465375392515 [8 7 2 0 4] 6
-0.5512943801065939 [8 0 1 0 0] 0
12.908259462831579 [13 13  2  0  2] 13
10.67394217731818 [10 11  4  0 10] 11
9.565592399694458 [ 9  9  1  0 22] 9
6.670759412139136 [6 8 1 1 0] 8
11.160801134001986 [ 9  9  2  0 56] 8
9.4719001120364 [ 8 10  2  0  6] 10
9.311545094102682 [10 10  3  0  0] 9
15.253342239481835 [15 15  2  0  4] 15
6.019248714112158 [7 7 4 0 4] 6
18.113568705950776 [16 18  3  0  2] 18